{% extends 'base/base.html' %}
{% load static %}
{% block title %}
Videoclub: Reset Contraseña
{% endblock title %}

{% block navbar %}

<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">Bienvenido</a>
    </div>
</nav>

{% endblock navbar %}

{% block content %}

{% if user.is_authenticated %}
<h4 class='mt-4'>Ya estás logeado, click <a href="{% url 'index' %}">aquí</a> para volver</h4>
{% else %}
<div class="row justify-content-center mt-5 mb-5 formulario_registro formulario">
    <div class="col-md-7 caja_formulario pt-3 p-4">
        <h4 class="text-center bg-dark text-light pb-1">Correo enviado</h4>
        Revisa tu bandeja de entrada.<br>
        Te hemos enviado un correo para reestablecer tu contraseña.
        <a class="btn btn-success btn-block mt-5" href="{% url 'login' %}">Volver</a>
    </div>
</div>
{% endif %}



{% endblock content %}


{% block footer %}

{% endblock footer %}