{% extends 'base/base.html' %}
{% load static %}
{% block title %}
Videoclub: Login
{% endblock title %}

{% block navbar %}

<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">Bienvenido</a>
    </div>
</nav>

{% endblock navbar %}

{% block content %}

    <div class="login-form">
        <div class="main-div mt-5">

            <h4 class="text-center bg-dark text-light pb-1">Contraseña reestablecida</h4>

            <p>
                Su contraseña se ha reestablecido correctamente</br>
                ¿Quiéres <a href="{% url 'login' %}">iniciar sesión</a>?
            </p>

        </div>
    </div>

{% endblock content %}

{% block footer %}

{% endblock footer %}